/**
 * @Date:   2019-10-03T11:16:33+02:00
 * @Email:  code@bramkorsten.nl
 * @Project: POC1 - Bram Korsten x Greenhouse
 * @Filename: styles.less
 * @Last modified time: 2019-10-04T09:23:15+02:00
 * @Copyright: Copyright 2019 - Bram Korsten
 */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #1234ff;
}
html model-viewer,
body model-viewer {
  width: 100vw;
  height: 90vh;
}
